{:Job
   {:Datacenters ["dc1"],
    :ID "cljdoc",
    :Name "cljdoc",
    :TaskGroups
      [{:Count 1,
        :Name "cljdoc",
        :RestartPolicy {:Attempts 2,
                        :Delay #nomad/seconds 15,
                        :Interval #nomad/seconds 1800,
                        :Mode "fail"},
        :Tasks
          [{:Artifacts nil,
            :Config {:image #join ["cljdoc/cljdoc:" #cljdoc.deploy/opt :docker-tag]
                     :port_map [{:http 8000}],
                     :volumes ["secrets:/etc/cljdoc"
                               "/data/cljdoc:/var/cljdoc"]},
            :Driver "docker",
            :Env {:CLJDOC_SECRETS "/etc/cljdoc/secrets.edn"
                  :CLJDOC_PROFILE "prod"},
            :KillSignal "",
            :Name "backend",
            :Resources
              {:CPU 800,
               :MemoryMB 1600,
               :Networks [{:DynamicPorts [{:Label "http", :Value 0}],
                           :MBits 10}]},
            :Services [{:Name "cljdoc",
                        :PortLabel "http",
                        :Checks [{:Name "alive"
                                  :PortLabel "http"
                                  :Interval #nomad/seconds 10
                                  :Timeout #nomad/seconds 2
                                  :Type "tcp"}]
                        :Tags
                          ["traefik.tags=cljdoc"
                           "traefik.frontends.blue.rule=PathPrefix:/"
                           "traefik.frontends.blue.entryPoints=http,https"]}],
            :Templates [{:DestPath "secrets/secrets.edn",
                         :EmbeddedTmpl "{{key \"config/cljdoc/secrets-edn\"}}"}]}],
        :Update {:Canary 1
                 :MaxParallel 1
                 :HealthyDeadline #nomad/seconds 240
                 :MinHealthyTime #nomad/seconds 10}}
       {:Name "lb",
        :Tasks
          [{:Config {:image "traefik:3.1.2"
                     :network_mode "host"
                     :port_map [{:api 8080, :http 80, :https 443}]
                     :volumes ["local:/etc/traefik"
                               "/data/traefik:/data"]}
            :Driver "docker"
            :Name "traefik"
            :Resources
              {:CPU 100
               :MemoryMB 128
               :Networks [{:MBits 10
                           :ReservedPorts [{:Label "api", :Value 8080}
                                           {:Label "http", :Value 80}
                                           {:Label "https", :Value 443}]}]}
            :Services [{:Name "traefik"
                        :PortLabel "http"
                        :Checks [{:Name "alive"
                                  :Interval #nomad/seconds 10
                                  :Timeout #nomad/seconds 2
                                  :Type "tcp"}]}]
            :Templates [{:DestPath "local/traefik.toml"
                         :EmbeddedTmpl "{{key \"config/traefik-toml\"}}"}]}]}]
    :Type "service"}}
