{:circle-ci {:api-token #env! CIRCLE_API_TOKEN
             :builder-project #env! CIRCLE_BUILDER_PROJECT}
 :s3 {;; note: we are using Exoscale, if we need to be more flexible in the future could
      ;; configure a :backups-provider
      :backups-bucket-region #env! EXO_BACKUPS_BUCKET_REGION ;; in exoscale these are called zones
      :backups-bucket-name #env! EXO_BACKUPS_BUCKET_NAME
      :backups-bucket-key #env! EXO_BACKUPS_BUCKET_KEY
      :backups-bucket-secret #env! EXO_BACKUPS_BUCKET_SECRET}
 :sentry {:dsn #env! SENTRY_DSN}}
