{:circle-ci {:api-token #env! CIRCLE_API_TOKEN
             :builder-project #env! CIRCLE_BUILDER_PROJECT}
 :backup {:bucket-name #env! BACKUPS_BUCKET_NAME
          :bucket-key #env! BACKUPS_BUCKET_ACCESS_KEY
          :bucket-secret #env! BACKUPS_BUCKET_ACCESS_SECRET }
 :sentry {:dsn #env! SENTRY_DSN}
 ; TODO: consider how deliver to traefik container only
 :traefik {:lets_encrypt-email #env! LETS_ENCRYPT_EMAIL}}
