;; we convert this edn to yaml when we send it to traefik from deploy.clj
{:global {:checkNewVersion false
          :sendAnonymousUsage false}
 :accessLog {:filePath "/data/access.log"
             :format "json"
             :fields {:defaultMode "keep"
                      :headers {:defaultMode "drop"
                                :names {:User-Agent "keep"
                                        :Referer "keep"}}}}
 :log {:filePath "/data/traefik.log"}
 :entryPoints {:web {:address ":80"}
               :websecure {:address ":443"}
               :jmx {:address ":9010"}}
 :certificatesResolvers {:letsencrypt
                         {:acme {:email "martinklepsch@googlemail.com"
                                 :storage "/data/acme.json"
                                 :keyType "RSA2048"
                                 :caServer #cljdoc.deploy/opt :lets-encrypt-endpoint
                                 :httpChallenge {:entryPoint "web"}}}}
 :api {:dashboard true
       :insecure true}
 :ping {}
 :providers {:consulCatalog {:prefix "traefik"
                             :exposedByDefault false
                             :watch true}}}
