.nrepl*
target/
docker/docker-target
log/
data/
.terraform
terraform.tfstate*
ops/image/image-id
ops/image/nomad-image-id
ops/prod-backup/
.idea
*.iml
project.clj
.cpcache
.DS_Store
.cache
.clj-kondo/.cache
node_modules
.envrc
.calva
resources-compiled
pom.xml
test-data/
/.parcel-cache
/.eastwood
/fiddle
/.vscode
/.lsp/.cache
*secret*.tfvars
*secret*.pkrvars.hcl
/.cljdoc-preview
# clerk dirs
/public
.clerk
