.nrepl*
target/
docker/docker-target
log/
data/
ops/infrastructure/.terraform
ops/infrastructure/terraform.tfstate*
ops/image/image-id
ops/image/nomad-image-id
ops/prod-backup/
.idea
*.iml
project.clj
.cpcache
.DS_Store
.cache
.clj-kondo/.cache
node_modules
.envrc
resources-compiled
pom.xml
test-data/
