{:paths ["script"]
 :deps {doric/doric {:mvn/version "0.9.0"}
        lread/status-line {:git/url "https://github.com/lread/status-line.git"
                           :sha "cf44c15f30ea3867227fa61ceb823e5e942c707f"}
        dev.nubank/docopt {:mvn/version "0.6.1-fix7"}
        etaoin/etaoin {:mvn/version "1.0.40"}}
 :tasks {lint {:task lint/-main :doc "[--rebuild] lint source code using clj-kondo"}
         eastwood {:task (clojure "-M:test:eastwood") :doc "lint source code using eastwood"}
         code-format {:task code-format/-main :doc "(check|fix) check whitespace formatting"}
         outdated {:task outdated/-main :doc "report on outdated Clojure and JavaScript dependencies"}
         doc-update-readme {:task doc-update-readme/-main :doc "honour our contributors in README"}
         check-contributors {:task check-contributors/-main :doc "who'd we miss?"}}}
