{:deps {org.clojure/clojure {:mvn/version "1.10.3"}

        ;; configuration
        aero/aero {:mvn/version "1.1.3"}                     ;; rich configuration support with profiles

        ;; app component/service orchestration
        integrant/integrant {:mvn/version "0.7.0"}           ;; configure systems/services that make up your app
        integrant/repl {:mvn/version "0.3.1"}                ;;  with reload support

        ;; web server/services
        io.pedestal/pedestal.jetty {:mvn/version "0.5.10"}   ;; web site/service with jetty engine
        io.pedestal/pedestal.service {:mvn/version "0.5.10"} ;; web site/service
        co.deps/ring-etag-middleware {:mvn/version "0.2.0"}  ;; fast checksum based ETags for http responses

        ;; relational database
        org.clojure/java.jdbc {:mvn/version "0.7.9"}         ;; jdbc abstraction
        org.xerial/sqlite-jdbc {:mvn/version "3.28.0"}       ;; jdbc driver needed to talk to our SQLite db
        ragtime/ragtime {:mvn/version "0.8.0"}               ;; database migrations
        com.mjachimowicz/ragtime-clj {:mvn/version "0.1.2"}  ;; database migration support for Clojure code migrations
        com.layerware/hugsql {:mvn/version "0.4.9"}          ;; SQL abstraction
        com.taoensso/nippy {:mvn/version "3.1.1"}            ;; fast compact serializer that we use for blobs

        ;; full text search database
        org.apache.lucene/lucene-core {:mvn/version "8.1.1"} ;; search engine
        org.apache.lucene/lucene-analyzers-common {:mvn/version "8.1.1"}
        org.apache.lucene/lucene-queryparser {:mvn/version "8.1.1"}

        ;; markdown
        org.asciidoctor/asciidoctorj {:mvn/version "2.5.3"}  ;; render adoc to html
        com.vladsch.flexmark/flexmark {:mvn/version "0.50.20"} ;; render github markdown to html
        com.vladsch.flexmark/flexmark-ext-autolink {:mvn/version "0.50.20"}
        com.vladsch.flexmark/flexmark-ext-gfm-tables {:mvn/version "0.50.20"}
        com.vladsch.flexmark/flexmark-ext-anchorlink {:mvn/version "0.50.20"}
        com.vladsch.flexmark/flexmark-ext-wikilink {:mvn/version "0.50.20"}

        ;; html
        hiccup/hiccup {:mvn/version "2.0.0-alpha1"}          ;; html abstraction
        org.jsoup/jsoup {:mvn/version "1.14.3"}              ;; xml/html parser/rewriter
        enlive/enlive {:mvn/version "1.1.6"}                 ;; html templating
        sitemap/sitemap {:mvn/version "0.4.0"}               ;; web sitemap generation

        ;; logging
        spootnik/unilog {:mvn/version "0.7.29"}              ;; easy log setup
        org.clojure/tools.logging {:mvn/version "0.5.0"}     ;; logging facade
        org.slf4j/slf4j-api {:mvn/version "1.7.35"}          ;; slf4j front end

        ;; sentry service support
        io.sentry/sentry-logback {:mvn/version "1.7.25"}     ;; logback appendery to Sentry service
        raven-clj/raven-clj {:mvn/version "1.6.0-alpha2"}    ;; Sentry service interface

        ;; reaching out to other services
        org.eclipse.jgit/org.eclipse.jgit.ssh.jsch {:mvn/version "6.0.0.202111291000-r"} ;; git with jsch
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.1"} ;; a lite version of clj-http client

        ;; misc utils
        cheshire/cheshire {:mvn/version "5.10.2"}            ;; json
        clj-commons/fs {:mvn/version "1.6.310"}              ;; file system utilities
        com.taoensso/tufte {:mvn/version "2.0.1"}            ;; profile/perf monitoring
        funcool/cuerdas {:mvn/version "2022.01.14-391"}      ;; string manipulation
        lambdaisland/uri {:mvn/version "1.2.1"}              ;; URI/URLs
        org.clj-commons/digest {:mvn/version "1.4.100"}      ;; digest algs (md5, sha1, etc)
        org.clojure/core.cache {:mvn/version "0.7.2"}        ;; general caching library
        org.clojure/core.memoize {:mvn/version "0.7.2"}      ;; function caching library
        robert/bruce {:mvn/version "0.8.0"}                  ;; retry handler
        tea-time/tea-time {:mvn/version "1.0.1"}             ;; task scheduler
        zprint/zprint {:mvn/version "0.4.16"}                ;; format clojure source

        ;; unused?
        expound/expound {:mvn/version "0.7.2"}               ;; makes spec errors more readable
        org.clojure/core.match {:mvn/version "0.3.0"}

        ;; These deps are dependencies of shared-utils and are
        ;; duplicated in the global modules/shared-utils/deps.edn,
        ;; updates should be done in both places
        version-clj/version-clj {:mvn/version "0.1.2"}}
 ;; We don't use :local/root dependencies because the interdependencies
 ;; between main, shared-utils and analysis runner don't work well with
 ;; Cursive: https://github.com/cljdoc/cljdoc/issues/134
 :paths ["src" "resources" "resources-compiled"
         "modules/shared-utils/src"
         "modules/shared-utils/resources"]
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "1.60.977"}
                         org.clojure/test.check {:mvn/version "1.1.1"}}
            :main-opts ["-m" "kaocha.runner"]}

           :clj-kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.01.15"}}
            :main-opts ["-m" "clj-kondo.main"]}

           :cli
           {:extra-paths ["modules/cli/src"]
            :extra-deps {cli-matic/cli-matic {:mvn/version "0.4.3"}}
            :main-opts ["-m"  "cljdoc.cli"]}

           :code-format
           {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
            :main-opts [ "-m" "cljfmt.main"  "--indents" "./.cljfmt/indentation.edn"]}

           :jar-deploy
           {:extra-deps {com.workframe/garamond {:git/url "https://github.com/martinklepsch/garamond.git"
                                                 :sha "a7e3a346b9c51d0fb0e73ca4ea47a150004ca6d1"}
                         pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                          :sha     "f24279ca21dba3ba74a6f501cff0dbf630ce4355"}
                         deps-deploy/deps-deploy {:mvn/version "0.0.9"}}}

           :outdated
           {:replace-deps {com.github.liquidz/antq {:mvn/version "1.4.0"}
                           org.slf4j/slf4j-simple {:mvn/version "1.7.35"}} ;; to rid ourselves of logger warnings
            :main-opts ["-m" "antq.core"]}}}
