{:deps {org.clojure/clojure {:mvn/version "1.9.0"},
        spootnik/unilog {:mvn/version "0.7.22"},
        org.clojure/tools.logging {:mvn/version "0.4.0"},
        io.pedestal/pedestal.jetty {:mvn/version "0.5.3"},
        tea-time {:mvn/version "1.0.0"},
        com.jcraft/jsch.agentproxy.jsch {:mvn/version "0.0.9"},
        integrant/repl {:mvn/version "0.3.0"},
        zprint {:mvn/version "0.4.9"},
        io.pedestal/pedestal.service {:mvn/version "0.5.3"},
        aero {:mvn/version "1.1.2"},
        cheshire {:mvn/version "5.8.0"},
        ragtime {:mvn/version "0.7.2"},
        funcool/cuerdas {:mvn/version "2.0.5"},
        org.asciidoctor/asciidoctorj {:mvn/version "1.5.6"},
        com.beust/jcommander {:mvn/version "1.35"} ; tools-deps issue?
        org.jruby/jruby-complete {:mvn/version "1.7.26"} ; tools-deps issue?
        co.deps/ring-etag-middleware {:mvn/version "0.2.0"}
        com.vladsch.flexmark/flexmark {:mvn/version "0.34.18"}
        com.vladsch.flexmark/flexmark-ext-autolink {:mvn/version "0.34.18"}
        com.vladsch.flexmark/flexmark-ext-gfm-tables {:mvn/version "0.34.18"}
        com.vladsch.flexmark/flexmark-ext-anchorlink {:mvn/version "0.34.18"}
        com.vladsch.flexmark/flexmark-ext-wikilink {:mvn/version "0.34.18"}
        com.cognitect/transit-clj {:mvn/version "0.8.300"},
        org.clojure/java.jdbc {:mvn/version "0.7.0"},
        hiccup {:mvn/version "2.0.0-alpha1"},
        digest {:mvn/version "1.4.8"},
        integrant {:mvn/version "0.7.0-alpha1"},
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.1"}
        org.eclipse.jgit {:mvn/version "4.10.0.201712302008-r"},
        io.sentry/sentry-logback {:mvn/version "1.7.5"},
        cognician/dogstatsd-clj {:mvn/version "0.1.1"}
        com.jcraft/jsch.agentproxy.connector-factory {:mvn/version "0.0.9"},
        org.clojure/core.match {:mvn/version "0.3.0-alpha5"},
        org.jsoup/jsoup {:mvn/version "1.11.3"},
        org.xerial/sqlite-jdbc {:mvn/version "3.20.0"},
        com.taoensso/tufte {:mvn/version "2.0.1"}
        com.taoensso/nippy {:mvn/version "2.14.0"}
        org.slf4j/slf4j-api {:mvn/version "1.7.25"},
        expound {:mvn/version "0.6.0"},
        raven-clj {:mvn/version "1.6.0-alpha2"},
        org.clojure/test.check {:mvn/version "0.9.0"},
        me.raynes/fs {:mvn/version "1.4.6"},
        sitemap {:mvn/version "0.2.4"},
        lambdaisland/uri {:mvn/version "1.1.0"}

        ;; These deps are dependencies of shared-utils and are
        ;; duplicated in the global modules/shared-utils/deps.edn,
        ;; updates should be done in both places
        version-clj {:mvn/version "0.1.2"}}
 ;; We don't use :local/root dependencies because the interdependencies
 ;; between main, shared-utils and analysis runner don't work well with
 ;; Cursive: https://github.com/cljdoc/cljdoc/issues/134
 :paths ["src" "resources" "resources-compiled"
         "modules/shared-utils/src"
         "modules/shared-utils/resources"]
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {lambdaisland/kaocha
                         {:git/url "https://github.com/lambdaisland/kaocha.git"
                          :sha "e7af8b48aadb32da9dcd7a9e5eb50fe64eae8d62"}}
            :main-opts ["-m" "kaocha.runner"]}

           :cli
           {:extra-paths ["modules/cli/src"]
            :extra-deps {cli-matic {:mvn/version "0.1.14"}}
            :main-opts ["-m"  "cljdoc.cli"]}

           :depstar
           {:extra-deps {seancorfield/depstar {:mvn/version "0.1.5"}}
            :main-opts ["-m" "hf.depstar.uberjar"]}}}
