{:secrets {}
 :maven-repositories [{:id "lambdawerk-releases" :url "https://nexus.lambdawerk.com:8443/nexus/content/repositories/releases/"}
                      {:id "lambdawerk-public" :url "https://nexus.lambdawerk.com:8443/nexus/content/repositories/public/"}]
 :extension-namespaces [cljdoc.lambdawerk-xml]
 :cljdoc/version #slurp "CLJDOC_VERSION"
 :cljdoc/server {:port 8000
                 :host "localhost"
                 :analysis-service :local
                 :disable-release-monitor? true
                 :autobuild-clojars-releases? false
                 :enable-sentry? false
                 :dir "data-test/"}}
