{ ;; there's a fair bit of old test code in comment blocks that does not lint, skip it for now
 :skip-comments true
 :linters {;; I don't personally see a problem with using (not (empty? x)) instead of (seq x)
           :not-empty? false}
 :lint-as {taoensso.tufte/defnp clojure.core/defn
           clojure.core.cache/defcache clojure.core/defrecord
           clojure.java.jdbc/with-db-transaction clojure.core/let}}
