{ ;; there's a fair bit of old test code in comment blocks that does not lint, skip it for now
 :skip-comments true
 :lint-as {taoensso.tufte/defnp clojure.core/defn
           clojure.core.cache/defcache clojure.core/defrecord
           clojure.java.jdbc/with-db-transaction clojure.core/let}
 :linters {:unused-binding {:exclude-destructured-keys-in-fn-args true}}}
