{:config-paths ^:replace [] ;; don't include user configs
 :skip-comments true ;; there's a fair bit of old test code in comment blocks that does not lint, skip it for now
 :lint-as {taoensso.tufte/defnp clojure.core/defn
           clojure.core.cache/defcache clojure.core/defrecord
           clojure.test.check.clojure-test/defspec clojure.core/def
           clojure.test.check.properties/for-all clojure.core/let}
 :linters {:redundant-fn-wrapper {:level :warning}
           :unused-value {:level :warning}
           :aliased-namespace-symbol {:level :warning}
           :warn-on-reflection {:level :off :warn-only-on-interop true}
           :unused-binding {:exclude-destructured-keys-in-fn-args true}
           :unresolved-var {:exclude [clj-commons.digest/sha-256]}
           ;; for  nubank/matcher-combinators
           :unresolved-symbol {:exclude [(clojure.test/is [match?])]}}}
