[Unit]
Description=cljdoc API server
After=network.target

[Service]
User=cljdoc
Group=cljdoc
WorkingDirectory=/home/cljdoc
# Just using `/home/cljdoc/run-cljdoc-api.sh` results in some SELinux issues.
# Running it via /bin/bash solved that.
ExecStart=/bin/bash /home/cljdoc/run-cljdoc-api.sh

[Install]
WantedBy=multi-user.target
