[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/consul agent -data-dir=/var/consul -bootstrap -server
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target