/** Tachyons style helpers ---------------------------------- **/

.f7 {
  font-size: 12px
}

/** Asciidoc ------------------------------------------------ **/

.asciidoc .listingblock {
  padding: 1rem;
  background-color: rgb(246, 248, 250);
  border-radius: 3px
}

.asciidoc .listingblock pre {
  margin: 0
}

/** Markdown ------------------------------------------------ **/

.markdown pre {
  padding: 1rem;
  background-color: rgb(246, 248, 250);
  border-radius: 3px
}
