{:mathjax {:npm-name "mathjax"
           :note "Consult AsciiDoctor recommended version before upgrading"
           :version "2.7.9"
           :js {:root "https://cdnjs.cloudflare.com/ajax/libs/mathjax/{{:version}}/"
                :assets  ["MathJax.js?config=TeX-MML-AM_CHTML"]
                ;; offline only mathjax assets are hand-curated, we include what we think is
                ;; the minimum for MathJax to function from downloaded zipped docs
                :assets-offline-download-only
                ["config/TeX-MML-AM_CHTML.js"
                 "extensions/AssistiveMML.js"
                 "extensions/HelpDialog.js"
                 "extensions/MathEvents.js"
                 "extensions/MathMenu.js"
                 "extensions/MathZoom.js"
                 "extensions/TeX/AMSmath.js"
                 "extensions/TeX/AMSsymbols.js"
                 "extensions/TeX/noErrors.js"
                 "extensions/TeX/noUndefined.js"
                 "extensions/a11y/accessibility-menu.js"
                 "extensions/asciimath2jax.js"
                 "extensions/fast-preview.js"
                 "extensions/mml2jax.js"
                 "extensions/tex2jax.js"
                 "extensions/toMathML.js"
                 "fonts/HTML-CSS/TeX/woff/MathJax_AMS-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Bold.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Bold.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Math-BoldItalic.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Math-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Bold.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Italic.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Script-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Size1-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Size2-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Size3-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Size4-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Typewriter-Regular.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Vector-Bold.woff"
                 "fonts/HTML-CSS/TeX/woff/MathJax_Vector-Regular.woff"
                 "jax/element/mml/jax.js"
                 "jax/input/AsciiMath/config.js"
                 "jax/input/AsciiMath/jax.js"
                 "jax/input/MathML/config.js"
                 "jax/input/MathML/jax.js"
                 "jax/input/TeX/config.js"
                 "jax/input/TeX/jax.js"
                 "jax/output/CommonHTML/autoload/annotation-xml.js"
                 "jax/output/CommonHTML/autoload/maction.js"
                 "jax/output/CommonHTML/autoload/menclose.js"
                 "jax/output/CommonHTML/autoload/mglyph.js"
                 "jax/output/CommonHTML/autoload/mmultiscripts.js"
                 "jax/output/CommonHTML/autoload/ms.js"
                 "jax/output/CommonHTML/autoload/mtable.js"
                 "jax/output/CommonHTML/autoload/multiline.js"
                 "jax/output/CommonHTML/config.js"
                 "jax/output/CommonHTML/fonts/TeX/AMS-Regular.js"
                 "jax/output/CommonHTML/fonts/TeX/Caligraphic-Bold.js"
                 "jax/output/CommonHTML/fonts/TeX/Fraktur-Bold.js"
                 "jax/output/CommonHTML/fonts/TeX/Fraktur-Regular.js"
                 "jax/output/CommonHTML/fonts/TeX/Main-Bold.js"
                 "jax/output/CommonHTML/fonts/TeX/Math-BoldItalic.js"
                 "jax/output/CommonHTML/fonts/TeX/SansSerif-Bold.js"
                 "jax/output/CommonHTML/fonts/TeX/SansSerif-Italic.js"
                 "jax/output/CommonHTML/fonts/TeX/SansSerif-Regular.js"
                 "jax/output/CommonHTML/fonts/TeX/Script-Regular.js"
                 "jax/output/CommonHTML/fonts/TeX/Typewriter-Regular.js"
                 "jax/output/CommonHTML/fonts/TeX/fontdata-extra.js"
                 "jax/output/CommonHTML/fonts/TeX/fontdata.js"
                 "jax/output/CommonHTML/jax.js"
                 "jax/output/PreviewHTML/config.js"
                 "jax/output/PreviewHTML/jax.js"]}}
 :highlightjs
 {:npm-name "highlight.js"
  :version "11.11.0"
  :js {:root "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@{{:version}}/build/"
       :assets ["highlight.min.js"
                "languages/clojure.min.js"
                "languages/clojure-repl.min.js"
                "languages/asciidoc.min.js"]}}}
