;; TODO change this so prod reads path from ENV
{:secrets #profile {:prod #include #join [ #env HOME "/secrets.edn"]
                    :live #include "secrets.edn"
                    :local {}}
 :cljdoc/server {:port #profile {:default 8000
                                 :prod 80},
                 :dir #profile {:default "data"
                                :prod "/var/cljdoc/"}}
 :cljdoc/hardcoded #include "hardcoded-projects-config.edn"}
