;; TODO change this so prod reads path from ENV
{:secrets #profile {:prod #include #join [ #env HOME "/secrets.edn"]
                    :live #include "secrets.edn"
                    :local {}}
 :cljdoc/server {:port 8000,
                 :dir #profile {:default "tmp"
                                :prod "/tmp/cljdoc/"}}
 :cljdoc/hardcoded #include "hardcoded-projects-config.edn"}
