;; TODO change this so prod reads path from ENV
{:secrets #profile {:prod #include #join [ #env HOME "/secrets.edn"]
                    :live #include "secrets.edn"
                    :local {}}
 :cljdoc/version #or [#env CLJDOC_VERSION "dev"]
 :cljdoc/server {:port 8000
                 :host #profile {:prod "cljdoc.xyz"
                                 :default "localhost"}
                 :analysis-service #profile {:default :local
                                             :prod :circle-ci}
                 :autobuild-clojars-releases? #profile {:default false
                                                        :prod true}
                 :enable-sentry? #profile {:default false
                                           :prod true}
                 :dir #profile {:default "data/"
                                :prod "/var/cljdoc/"}}
 :cljdoc/hardcoded #include "hardcoded-projects-config.edn"}
