{:aws {:access-key #env AWS_ACCESS_KEY
       :secret-key #env AWS_SECRET_KEY
       :s3-bucket-name #env S3_BUCKET_NAME
       :cloudfront-id #env CLOUDFRONT_ID
       :cloudfront-url #env CLOUDFRONT_URL
       :r53-hosted-zone #env ROUTE53_HOSTED_ZONE}
 :circle-ci {:api-token #env CIRCLE_API_TOKEN}}
