;; for typical dev work we need no secrets
;; see modules/deploy/resources/secrets.edn for template for secrets should you need it
;; you specify the path to your dev secrets.edn via CLJDOC_SECRETS env var
{}
