{:circle-ci {:api-token #env! CIRCLE_API_TOKEN
             :builder-project #env! CIRCLE_BUILDER_PROJECT}
 :sentry {:dsn #env! SENTRY_DSN}
 :telegram {:bot-token #env! TELEGRAM_BOT_TOKEN
            :chat-id #env! TELEGRAM_CHAT_ID}}
