/** Tachyons style helpers ---------------------------------- **/

.f7 {
  font-size: 12px;
}

/** Markdown / AsciiDoc ------------------------------------------------ **/
/** Most of this should be implemented via Visitors when rendering Markdown I believe **/

.markdown a, .asciidoc a {
  text-decoration: none;
  color: #357edd;
}

.markdown a.md-anchor {
  color: black
}

.markdown li + li {
  margin-top: .25em;
}

.markdown img[align="right"] {
    padding-left: 20px;
}

.markdown hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.markdown pre, .literalblock > .content > pre, .listingblock > .content > pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 1rem;
  background-color: rgb(246, 248, 250);
  border-radius: 3px;
  font-size: 0.875rem;
  overflow-x: scroll;
}

.markdown code, .asciidoc :not(.highlight) > code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown pre code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
}

.markdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown table tr {
  border-top: 1px solid #c6cbd1;
}

.markdown table th, .markdown table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/** Asciidoc tip / note blocks **/

.asciidoc .admonitionblock {
  padding: 1rem;
  border-radius: 3px;
}

.asciidoc .admonitionblock .icon {
  padding-right: 1rem;
  font-weight: 500;
}

.asciidoc .admonitionblock.note {
  background-color: #fbf1a9;
}

.asciidoc .admonitionblock.tip {
  background-color: #e8fdf5;
}

/** Scroll Indicator ------------------------------------------------ **/
.def-item.scroll-indicator {
  position: relative;
}

.def-item.scroll-indicator::before {
  border-left: 2px solid rgb(53, 126, 221);
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem;
}

.raw {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 1rem;
    background-color: rgb(246, 248, 250);
    border-radius: 3px;
    font-size: 0.875rem;
    overflow-x: scroll;
}

.hide {
    display: none;
}
