/** Tachyons style helpers ---------------------------------- **/

.f7 {
  font-size: 12px;
}

/** Markdown / AsciiDoc ------------------------------------------------ **/
/** Most of this should be implemented via Visitors when rendering Markdown I believe **/

.cljdoc-article a {
  text-decoration: none;
  color: #357edd;
}

.cljdoc-article hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}


.markdown a.md-anchor {
  color: black
}

.markdown li + li {
  margin-top: .25em;
}

.markdown img[align="right"] {
    padding-left: 20px;
}

.markdown pre, .literalblock > .content > pre, .listingblock > .content > pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 1rem;
  background-color: rgb(246, 248, 250);
  border-radius: 3px;
  font-size: 0.875rem;
  overflow-x: scroll;
}

.markdown code, .asciidoc :not(.highlight) > code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown pre code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
}

.markdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown table tr {
  border-top: 1px solid #c6cbd1;
}

.markdown table th, .markdown table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/** Asciidoc tip / note blocks **/

.asciidoc .admonitionblock {
  padding: 1rem;
  border-radius: 3px;
  border-left: 3px solid;
}

.asciidoc .admonitionblock .icon {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #777;
  font-weight: 600;
}

.asciidoc .admonitionblock .content {
  display: block;
}

.asciidoc .admonitionblock.tip {
  background-color: #e8fdf5; /** tachyons washed-green **/
  border-color: #9eebcf; /** tachyons light-green **/
}

.asciidoc .admonitionblock.note {
  background-color: #cdecff; /** tachyons light-blue **/
  border-color: #357edd /** tachyons blue **/
}

.asciidoc .admonitionblock.important {
  background-color: #fffceb; /** tachyons washed-yellow **/
  border-color: #ffd700 /** tachyons yellow **/
}

.asciidoc .admonitionblock.warning {
  background-color: #ffdfdf; /** tachyons washed-red **/
  border-color: #ff725c; /** tachyons light-red **/
}

/** Scroll Indicator ------------------------------------------------ **/
.def-item.scroll-indicator {
  position: relative;
}

.def-item.scroll-indicator::before {
  border-left: 2px solid rgb(53, 126, 221);
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem;
}

/** cljdoc-gist highlighting --------------------------------------- **/
/** original source: https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/github-gist.min.css **/

.hljs {
    display: block;
    /* background: white; */
    /* padding: 0.5em; */
    color: #333333;
    overflow-x: auto
}

.hljs-comment, .hljs-meta {
    color: #969896
}

.hljs-string, .hljs-variable, .hljs-template-variable, .hljs-strong,
.hljs-emphasis, .hljs-quote {
    color: #df5000
}

.hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: #a71d5d
}

.hljs-literal, .hljs-symbol, .hljs-bullet, .hljs-attribute {
    color: #0086b3
}

.hljs-section, .hljs-name {
    color: #63a35c
}

.hljs-tag {
    color: #333333
}

.hljs-title, .hljs-attr, .hljs-selector-id, .hljs-selector-class,
.hljs-selector-attr, .hljs-selector-pseudo {
    color: #795da3
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec
}

.hljs-link {
    text-decoration: underline
}
