{:cljdoc.doc/tree [["Readme" {:file "README.adoc"}]
                   ["Contributing" {:file "CONTRIBUTING.adoc"}]
                   ["Code of Conduct" {:file "doc/CODE_OF_CONDUCT.adoc"}]
                   ;; ["Architecture Decisions" {}
                   ;;  ["Record Architecture Decisions" {:file "doc/adr/0001-record-architecture-decisions.md"}]
                   ;;  ["Record Architecture Decisions" {:file "doc/adr/0001-record-architecture-decisions.md"}]
                   ;;  ["Record Architecture Decisions" {:file "doc/adr/0001-record-architecture-decisions.md"}]
                   ;;  ]
                   ["Userguide" {}
                    ["For Library Authors" {:file "doc/userguide/for-library-authors.adoc"}]
                    ["For Library Users" {:file "doc/userguide/for-users.adoc"}]
                    ["FAQ" {:file "doc/userguide/faq.adoc"}]]
                   ["Running cljdoc Locally" {:file "doc/running-cljdoc-locally.adoc"}]
                   ["Developer Technical Guide" {:file "doc/cljdoc-developer-technical-guide.adoc"}]
                   ["Custom Articles" {:file "doc/custom-articles.adoc"}]]}
