;; inputs for contributors section of README.adoc
{:contributors
 [{:github-id "martinklepsch"
   :contributions [:code :doc :design :issue :sponsor :ops :support :review]}
  {:github-id "borkdude"
   :contributions [:code :doc :issue]}
  {:github-id "avichalp"
   :contributions [:code :issue]}
  {:github-id "dawranliou"
   :contributions [:code :doc :issue :sponsor]}
  {:github-id "residentsummer"
   :contributions [:code :issue]}
  {:github-id "tonsky"
   :contributions [:code :doc :issue]}
  {:github-id "danielcompton"
   :contributions [:code :infra :issue]}
  {:github-id "samihda"
   :contributions [:code]}
  {:github-id "saskali"
   :contributions [:code :doc]}
  {:github-id "jorinvo"
   :contributions [:code :doc :issue]}
  {:github-id "IamDrowsy"
   :contributions [:code :issue]}
  {:github-id "angusiguess"
   :contributions [:code :doc]}
  {:github-id "greg-kargin"
   :contributions [:code]}
  {:github-id "rakyi"
   :contributions [:infra :code :issue]}
  {:github-id "nikolap"
   :contributions [:code]}
  {:github-id "mhuebert"
   :contributions [:code :design :issue]}
  {:github-id "elarous"
   :contributions [:code]}
  {:github-id "mk"
   :contributions [:code]}
  {:github-id "bbatsov"
   :contributions [:doc :issue]}
  {:github-id "SevereOverfl0w"
   :contributions [:doc :code :issue]}
  {:github-id "roman01la"
   :contributions [:design :code]}
  {:github-id "mfikes"
   :contributions [:doc :issue]}
  {:github-id "anthonygalea"
   :contributions [:code :issue]}
  {:github-id "devurandom"
   :exclude-from-reconcile "to credit Dennis Schridde, his GitHub id changed?"
   :contributions [:doc]}
  {:github-id "jsimpson-ovo"
   :contributions [:code]}
  {:github-id "Tavistock"
   :contributions [:code :issue]}
  {:github-id "alex-dixon"
   :contributions [:code]}
  {:github-id "timothypratley"
   :contributions [:code]}
  {:github-id "kkinnear"
   :contributions [:code :issue]}
  {:github-id "karls"
   :contributions [:code]}
  {:github-id "ikitommi"
   :contributions [:code :issue]}
  {:github-id "pesterhazy"
   :contributions [:code]}
  {:github-id "eerohele"
   :contributions [:code]}
  {:github-id "nberger"
   :contributions [:sponsor]}
  {:github-id "ajoberstar"
   :contributions [:sponsor :issue]}
  {:github-id "polymeris"
   :contributions [:sponsor]}
  {:github-id "ryrobes"
   :contributions [:sponsor]}
  {:github-id "julienba"
   :contributions [:sponsor]}
  {:github-id "crimeminister"
   :contributions [:sponsor]}
  {:github-id "seancorfield"
   :contributions [:support :design :issue]}
  {:github-id "holyjak"
   :contributions [:code :doc :design :issue]}
  {:github-id "lread"
   :contributions [:code :doc :design :issue :ops :review :support]}
  {:github-id "nha"
   :contributions [:code :issue]}
  {:github-id "mjhanninen"
   :contributions [:doc]}
  {:github-id "jacobobryant"
   :contributions [:code]}
  {:github-id "lins05"
   :contributions [:code]}
  {:github-id "jimmyhmiller"
   :exclude-from-reconcile "for whatever reason Jimmy is not on github contributors page"
   :contributions [:code]}
  {:github-id "awkay"
   :contributions [:issue]}
  {:github-id "tobias"
   :contributions [:code]}
  {:github-id "frozar"
   :contributions [:doc :issue]}
  {:github-id "moonbrv"
   :contributions [:code]}
  {:github-id "plexus"
   :contributions [:code :issue]}
  {:github-id "davidjameshumphreys"
   :contributions [:code]}
  {:github-id "KingMob"
   :contributions [:code :issue]}
  {:github-id "green-coder"
   :contributions [:code :issue]}
  {:github-id "kolharsam"
   :contributions [:code]}
  {:github-id "miikka"
   :contributions [:code :issue]}
  {:github-id "renatoalencar"
   :contributions [:code]}
  {:github-id "kloimhardt"
   :contributions [:code :doc]}
  {:github-id "superstructor"
   :contributions [:code]}
  {:github-id "corasaurus-hex"
   :contributions [:code :design :issue :ops :support :review]}
  {:github-id "rvalentini"
   :contributions [:code :design :issue :ops]}
  {:github-id "rollacaster"
   :contributions [:code :design :issue]}
  {:github-id "vemv"
   :contributions [:issue]}
  {:github-id "piotr-yuxuan"
   :contributions [:issue]}
  {:github-id "RickMoynihan"
   :contributions [:issue]}
  {:github-id "FieryCod"
   :contributions [:issue]}
  {:github-id "cloojure"
   :contributions [:issue]}
  {:github-id "IGJoshua"
   :contributions [:issue :code]}
  {:github-id "clyfe"
   :contributions [:issue]}
  {:github-id "sritchie"
   :contributions [:issue :code]}
  {:github-id "metasoarous"
   :contributions [:issue]}
  {:github-id "BrunoBonacci"
   :contributions [:issue]}
  {:github-id "anthony-khong"
   :contributions [:issue]}
  {:github-id "aaronEberhart"
   :contributions [:issue]}
  {:github-id "mpenet"
   :contributions [:issue]}
  {:github-id "cldwalker"
   :contributions [:issue :code]}
  {:github-id "dAnjou"
   :contributions [:issue]}
  {:github-id "wilkerlucio"
   :contributions [:issue]}
  {:github-id "jpmonettas"
   :contributions [:issue]}
  {:github-id "pragyanatvade"
   :contributions [:issue]}
  {:github-id "kxygk"
   :contributions [:issue]}
  {:github-id "JulienRouse"
   :contributions [:issue]}
  {:github-id "nblumoe"
   :contributions [:issue]}
  {:github-id "cjohansen"
   :contributions [:issue]}
  {:github-id "marcomorain"
   :contributions [:issue]}
  {:github-id "f-f"
   :contributions [:issue]}
  {:github-id "ghost"
   :contributions [:issue]}
  {:github-id "smahood"
   :contributions [:issue]}
  {:github-id "witek"
   :contributions [:issue]}
  {:github-id "thheller"
   :contributions [:issue]}
  {:github-id "zcaudate"
   :contributions [:issue]}
  {:github-id "rubygeek"
   :contributions [:issue]}
  {:github-id "Biserkov"
   :contributions [:issue]}
  {:github-id "bhb"
   :contributions [:issue]}
  {:github-id "aviflax"
   :contributions [:issue]}
  {:github-id "gnl"
   :contributions [:issue]}
  {:github-id "jmlsf"
   :contributions [:issue]}
  {:github-id "JoelSanchez"
   :contributions [:issue]}
  {:github-id "l3nz"
   :contributions [:issue]}
  {:github-id "bfontaine"
   :contributions [:issue]}
  {:github-id "kumarshantanu"
   :contributions [:issue]}
  {:github-id "glts"
   :contributions [:issue]}
  {:github-id "Shashai"
   :contributions [:issue]}
  {:github-id "daveyarwood"
   :contributions [:issue]}
  {:github-id "erasmas"
   :contributions [:issue]}
  {:github-id "esuomi"
   :contributions [:issue]}
  {:github-id "j-cr"
   :contributions [:issue]}
  {:github-id "lilactown"
   :contributions [:issue]}
  {:github-id "noprompt"
   :contributions [:issue]}
  {:github-id "oskarkv"
   :contributions [:issue]}
  {:github-id "patrickaroo"
   :contributions [:issue]}
  {:github-id "puredanger"
   :contributions [:issue]}
  {:github-id "serioga"
   :contributions [:issue]}
  {:github-id "somecho"
   :contributions [:issue]}
  {:github-id "viebel"
   :contributions [:issue :code]}
  {:github-id "vlaaad"
   :contributions [:issue]}
  {:github-id "AdamFrey"
   :contributions [:code]}
  {:github-id "Raynes"
   :contributions [:code]}
  {:github-id "anmonteiro"
   :contributions [:code]}
  {:github-id "atroche"
   :contributions [:code]}
  {:github-id "ccfontes"
   :contributions [:code]}
  {:github-id "davidsantiago"
   :contributions [:code]}
  {:github-id "floybix"
   :contributions [:code]}
  {:github-id "hugoduncan"
   :contributions [:code]}
  {:github-id "ieure"
   :contributions [:code]}
  {:github-id "metametadata"
   :contributions [:code]}
  {:github-id "moea"
   :contributions [:code]}
  {:github-id "moxaj"
   :contributions [:code]}
  {:github-id "mtnygard"
   :contributions [:code]}
  {:github-id "odyssomay"
   :contributions [:code]}
  {:github-id "rm-hull"
   :contributions [:code :doc]}
  {:github-id "rwilson"
   :contributions [:code]}
  {:github-id "sbauer322"
   :contributions [:doc]}
  {:github-id "tsulej"
   :contributions [:code]}
  {:github-id "weavejester"
   :contributions [:code :doc]}]}
