{:config-in-call #:cljdoc.client.list-search{SearchInput {:ignore {:row 8, :col 10, :end-row 8, :end-col 27, :linters :all}}, ResultsView {:ignore {:row 51, :col 10, :end-row 51, :end-col 27, :linters :all}}}}