{:etag nil,
 :last-modified "Wed, 04 Oct 2023 16:05:36 GMT",
 :artifacts
 [{:etag "W/\"1920f548ec71e8ce86042632539a27c4\"",
   :last-modified "Mon, 21 Oct 2019 19:19:17 GMT",
   :artifact-id "clj-client",
   :group-id "com.turtlequeue",
   :origin :maven-central,
   :versions
   ["0.0.16"
    "0.0.13"
    "0.0.11"
    "0.0.10"
    "0.0.9"
    "0.0.8"
    "0.0.7"
    "0.0.6"
    "0.0.5"],
   :description "TurtleQueue SDK"}
  {:etag "W/\"71268b5cc57a7a45fabbb5931b5ffcc9\"",
   :last-modified "Wed, 16 Jun 2021 12:50:25 GMT",
   :artifact-id "java-admin-sdk",
   :group-id "com.turtlequeue",
   :origin :maven-central,
   :versions ["1.0.5" "1.0.4" "1.0.3" "1.0.2" "1.0.0"],
   :description "Turtlequeue is a hosted pub-sub messaging platform."}
  {:etag "W/\"bca436ff950a5f869d9968431e584e32\"",
   :last-modified "Wed, 16 Jun 2021 12:50:26 GMT",
   :artifact-id "java-sdk",
   :group-id "com.turtlequeue",
   :origin :maven-central,
   :versions ["1.0.5" "1.0.4" "1.0.3" "1.0.2" "1.0.0"],
   :description "Turtlequeue is a hosted pub-sub messaging platform."}
  {:etag "W/\"f3fe7223adff4e6cc53ade0c9203045f\"",
   :last-modified "Wed, 16 Jun 2021 12:43:18 GMT",
   :artifact-id "sdk.proto",
   :group-id "com.turtlequeue",
   :origin :maven-central,
   :versions ["1.0.5" "1.0.4" "1.0.2" "1.0.0"],
   :description "Turtlequeue is a hosted pub-sub messaging platform."}
  {:etag "W/\"b5a9fcb68ca9f58ee2e1291b131eba41\"",
   :last-modified "Wed, 16 Jun 2021 12:46:55 GMT",
   :artifact-id "sdk.proto.admin",
   :group-id "com.turtlequeue",
   :origin :maven-central,
   :versions ["1.0.5" "1.0.4" "1.0.2" "1.0.0"],
   :description "Turtlequeue is a hosted pub-sub messaging platform."}]}