{:etag "\"52ee0a595ba8a2acc050ef2faf028624\"",
 :artifacts
 [{:etag "\"747c1cafde9881bdbf557b41f8dd3f16\"",
   :artifact-id "buildtest",
   :group-id "io.github.clojure",
   :origin :maven-central,
   :versions ["0.3.2" "0.3.1" "0.3.0"],
   :description "Dummy project for build and deployment testing"}
  {:etag "\"e75459172d553ec22c34d5eb7bdc8624\"",
   :artifact-id "tools.build",
   :group-id "io.github.clojure",
   :origin :maven-central,
   :versions
   ["0.10.10"
    "0.10.9"
    "0.10.8"
    "0.10.7"
    "0.10.6"
    "0.10.5"
    "0.10.4"
    "0.10.3"
    "0.10.1"
    "0.10.0"
    "0.9.6"
    "0.9.5"
    "0.9.4"
    "0.9.3"]}]}