{:etag nil,
 :last-modified "Thu, 02 Jul 2026 15:38:16 GMT",
 :artifacts
 [{:etag "W/\"6a3a9cf5395dff88faf1496ad32f5ad0\"",
   :last-modified "Thu, 02 Jul 2026 15:37:58 GMT",
   :artifact-id "buildtest",
   :group-id "io.github.clojure",
   :origin :maven-central,
   :versions ["0.3.6" "0.3.5" "0.3.4" "0.3.3" "0.3.2" "0.3.1" "0.3.0"],
   :description "Dummy project for build and deployment testing"}
  {:etag "W/\"e0e22c5f1bdf6ea1817070a20533515f\"",
   :last-modified "Thu, 28 May 2026 20:35:38 GMT",
   :artifact-id "tools.build",
   :group-id "io.github.clojure",
   :origin :maven-central,
   :versions
   ["0.10.14"
    "0.10.13"
    "0.10.12"
    "0.10.11"
    "0.10.10"
    "0.10.9"
    "0.10.8"
    "0.10.7"
    "0.10.6"
    "0.10.5"
    "0.10.4"
    "0.10.3"
    "0.10.1"
    "0.10.0"
    "0.9.6"
    "0.9.5"
    "0.9.4"
    "0.9.3"],
   :description "Clojure builds as Clojure programs."}]}