{:etag nil,
 :last-modified "Wed, 04 Oct 2023 16:25:37 GMT",
 :artifacts
 [{:etag "W/\"5181ae11995aa5bd38ae9b2072d3340b\"",
   :last-modified "Mon, 09 Mar 2020 21:39:22 GMT",
   :artifact-id "analyzer.common",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "A variant of tools.analyzer."}
  {:etag "W/\"f05e5af2d17a73cca23465e7a0b955fd\"",
   :last-modified "Mon, 09 Mar 2020 21:39:23 GMT",
   :artifact-id "analyzer.js",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "A variant of tools.analyzer.js."}
  {:etag "W/\"24bcd90e242f34b164a5196899afb0ec\"",
   :last-modified "Mon, 09 Mar 2020 21:39:24 GMT",
   :artifact-id "analyzer.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "A variant of tools.analyzer.jvm."}
  {:etag "W/\"20b3dea58aa999257a42cbf4557e16dd\"",
   :last-modified "Mon, 09 Mar 2020 21:39:25 GMT",
   :artifact-id "annotator.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "Runtime type inference algorithm for core.typed and clojure.spec."}
  {:etag "W/\"d1eef9e3c9cde37149895f0eb5608aee\"",
   :last-modified "Mon, 09 Mar 2020 21:39:26 GMT",
   :artifact-id "checker.js",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "An optional type system for ClojureScript — full system for annotating and type-checking."}
  {:etag "W/\"64645350836f5e4a0146ff32ceb7efda\"",
   :last-modified "Mon, 09 Mar 2020 21:39:27 GMT",
   :artifact-id "checker.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "An optional type system for Clojure — full system for annotating and type-checking."}
  {:etag "W/\"dac3642315e735105801aa3923c227aa\"",
   :last-modified "Mon, 09 Mar 2020 21:39:29 GMT",
   :artifact-id "lang.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "Extensible languages in Clojure, a la Racket's #lang."}
  {:etag "W/\"b02163bc1eeb1e65a73f71713f7bc5b8\"",
   :last-modified "Mon, 09 Mar 2020 21:39:30 GMT",
   :artifact-id "lib.clojure",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "Type annotations and macros for the base Clojure distribution."}
  {:etag "W/\"49b9c50b98ff165a81cf77b929210e46\"",
   :last-modified "Mon, 09 Mar 2020 21:39:32 GMT",
   :artifact-id "lib.core.async",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "Type annotations and macros for core.async."}
  {:etag "W/\"7ab95f3a721da37a382b10f4135e3c29\"",
   :last-modified "Mon, 09 Mar 2020 21:39:34 GMT",
   :artifact-id "pom",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "An optional type system for Clojure"}
  {:etag "W/\"df0386cae3c69c5dfbb44d7970eb2625\"",
   :last-modified "Mon, 09 Mar 2020 21:39:35 GMT",
   :artifact-id "runtime.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "An optional type system for Clojure — zero-dependency artifact for annotations only."}]}