{:etag "\"92d0be5b0889b68d1eb7fe85044e5a20\"",
 :artifacts
 [{:etag "\"5181ae11995aa5bd38ae9b2072d3340b\"",
   :artifact-id "analyzer.common",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "A variant of tools.analyzer."}
  {:etag "\"f05e5af2d17a73cca23465e7a0b955fd\"",
   :artifact-id "analyzer.js",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "A variant of tools.analyzer.js."}
  {:etag "\"24bcd90e242f34b164a5196899afb0ec\"",
   :artifact-id "analyzer.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "A variant of tools.analyzer.jvm."}
  {:etag "\"20b3dea58aa999257a42cbf4557e16dd\"",
   :artifact-id "annotator.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "Runtime type inference algorithm for core.typed and clojure.spec."}
  {:etag "\"d1eef9e3c9cde37149895f0eb5608aee\"",
   :artifact-id "checker.js",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "An optional type system for ClojureScript — full system for annotating and type-checking."}
  {:etag "\"64645350836f5e4a0146ff32ceb7efda\"",
   :artifact-id "checker.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "An optional type system for Clojure — full system for annotating and type-checking."}
  {:etag "\"dac3642315e735105801aa3923c227aa\"",
   :artifact-id "lang.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "Extensible languages in Clojure, a la Racket's #lang."}
  {:etag "\"b02163bc1eeb1e65a73f71713f7bc5b8\"",
   :artifact-id "lib.clojure",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "Type annotations and macros for the base Clojure distribution."}
  {:etag "\"49b9c50b98ff165a81cf77b929210e46\"",
   :artifact-id "lib.core.async",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "Type annotations and macros for core.async."}
  {:etag "\"7ab95f3a721da37a382b10f4135e3c29\"",
   :artifact-id "pom",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description "An optional type system for Clojure"}
  {:etag "\"df0386cae3c69c5dfbb44d7970eb2625\"",
   :artifact-id "runtime.jvm",
   :group-id "org.clojure.typed",
   :origin :maven-central,
   :versions
   ["1.10.0-alpha1"
    "1.0.1"
    "1.0.0"
    "1.0.0-alpha1"
    "0.8.0-alpha7"
    "0.8.0-alpha6"
    "0.8.0-alpha5"
    "0.8.0-alpha3"],
   :description
   "An optional type system for Clojure — zero-dependency artifact for annotations only."}]}